body{
  background-color:black;
  color:white;
  font-family:lucida console;
}
#console {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:link, a:visited {
  padding: 3px;
	color: white;
  text-decoration: none;
}
a:hover, a:active {background-color: #404040}
