@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW-AJi8SJQt.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0me8iUI0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
G
:root {
    --bg: var(--Dark-0);
    --fg: var(--Light-3);
    --w: 80ch;
}

body {
    background-color: var(--bg);
    margin: 0 1ch;
    font-family: 'Roboto Mono';
    font-size: 20px;
    color: var(--fg);
}

div.content {
    width: var(--w);
    margin: auto;
    /* background-image: url("square.png"); */
    background-size: 1ch 2.27ch;
}

p {
    margin: 2.27ch 0;
}

a:hover {
    background-color: var(--fg);
    color: var(--bg);
}

a {
    text-decoration: underline 1px;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0 2ch 0 0;
}

td.date {
    text-align: right;
    color: var(--Blue-2);
}

td.subject {
    text-align: right;
    color: var(--Cyan-2);
}

td.title {
    text-align: left;
    color: var(--Yellow-2);
}

pre {
    font-family: 'Roboto Mono';
    margin: 0;
}

h1 {
    font-size: 100%;
    color: var(--sf);
    margin: 2.27ch 0;
}

#motd {
    width: 63ch;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 100%;
    color: var(--sf);
    margin: 0;
}

#banner {
    text-align: center
}

div.twosplit {
    display: flex;
    justify-content: space-between;
}

div.twosplit * {
    width: 39ch;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    margin: 0;
}

::selection {
    background: var(--fg);
    color: var(--bg);
}

.palette table tr td {
    width: 5ch;
    height: 6.81ch;
    padding: 0;
    text-align: center;
    color: var(--903);
}

.palette table {
    display: inline;
    margin-right: -1ch;
    text-shadow: 2px 0 var(--bg), -2px 0 var(--bg), 0 2px var(--bg), 0 -2px var(--bg), 1px 1px var(--bg), -1px -1px var(--bg), 1px -1px var(--bg), -1px 1px var(--bg);
}

:root {
    /* Pastelram color palette */

    /* Dark */
    --Dark-0: #242f3d;
    --Dark-1: #303b4a;
    --Dark-2: #3d4958;
    --Dark-3: #4a5666;

    /* Light */
    --Light-0: #cdd7e3;
    --Light-1: #d6dfeb;
    --Light-2: #dee7f4;
    --Light-3: #e6effc;

    /* Grey */
    --Grey-0: #667383;
    --Grey-1: #8390a1;
    --Grey-2: #a1afc1;
    --Grey-3: #c1cfe2;

    /* Red */
    --Red-0: #985f63;
    --Red-1: #b87c80;
    --Red-2: #d99b9f;
    --Red-3: #fbbabe;

    /* Green */
    --Green-0: #5e7c4f;
    --Green-1: #7b9a6b;
    --Green-2: #9ab989;
    --Green-3: #b9d9a8;

    /* Yellow */
    --Yellow-0: #8b6b3d;
    --Yellow-1: #aa895a;
    --Yellow-2: #caa878;
    --Yellow-3: #ebc797;

    /* Blue */
    --Blue-0: #53749d;
    --Blue-1: #7092bd;
    --Blue-2: #8eb1dd;
    --Blue-3: #add1ff;

    /* Magenta */
    --Magenta-0: #826490;
    --Magenta-1: #a181af;
    --Magenta-2: #c0a0cf;
    --Magenta-3: #e1c0f0;

    /* Cyan */
    --Cyan-0: #327f7f;
    --Cyan-1: #529e9d;
    --Cyan-2: #72bdbd;
    --Cyan-3: #92dedd;
}